<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RESTful Controllers</title>
    <link asp-href-include="lib/bootstrap/css/*.min.css"
          rel="stylesheet" />
</head>
<body class="m-l p-l">
    @RenderBody()
</body>
</html>