<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/bootstrap/css/*.min.css" rel="stylesheet." />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.css" />
    @RenderSection("scripts", false)
</head>
<body class="m-l р-1">
    @RenderBody()
</body>
</html>