@model ProductListViewModel
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)//используем частичное представление
}

<!--Как я понял ниже представленны лементы которые формируются в PageLinkTaghelper-->
<div page-model="@Model.Paginginfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-l">
</div>
